// Styles for loding component with animation

.inside-loader {
  height: 300px;
  .loader-outside {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
  }
}
.loader-outside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.loader-line {
  width: 250px;
  height: 250px;
  margin: 50px auto;
  border: 4px double;
  border-radius: 50%;
  border-color: transparent rgba(0,0,0,0.9) rgba(0,0,0,0.9);
  animation: spiner 690ms infinite linear;
  -o-animation: spiner 690ms infinite linear;
  -ms-animation: spiner 690ms infinite linear;
  -webkit-animation: spiner 690ms infinite linear;
  -moz-animation: spiner 690ms infinite linear;
}
@keyframes spiner {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spiner {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spiner {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spiner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spiner {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 576px){
  .card-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.col h1{
  text-align: center;
}
.col nav{
  height: 100px;
  #back, #chart, #reload {
    margin: 30px 0;
  }
  #back, #chart{
    float: right;
  }
  #reload{
    float: left;
  }
}
.card{
  .score-and-karma {
    button{
      margin-right: 5px;
      cursor: default !important;
    }
  }
}

.comments-section{
  h3{
    margin: 30px 0;
  }
  .card{
    margin:15px;
  }
}
